/*.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    
    }
}*/

.main {
    margin: auto;
    min-width: 100vw;
    min-height: 80vh;
    resize: none;
}


.main{
    background-image: url(imgs/food.jpg);
    background-size: cover;
    margin: auto;
}

h1{
    font-family: "Italiana";
}
p{
    font-family: "Italiana";
    font-weight: 900;
}

.py-2.d-none.d-md-inline-block.link-secondary{
    text-decoration: none;
    color: #36453B;
    
}
.py-2.d-none.d-md-inline-block.link-secondary:hover{
    color: #515751;
}