h1{
    font-family: 'Italiana';
    font-size: 52px;
    text-align: center;
}

.form-signin {
    margin-left: 32vmax;
    margin-top: 3vmax;
    width: 35vw;
    height: 86vh;
    position:absolute;
    box-shadow: 5px 10px 50px #515751;
    padding: 35px;
    overflow: scroll;
}

.btn.btn-link{
    color: black;
    text-decoration: none;
    
}

.btn.btn-link:hover{
    color: #515751;
}
